body {
    font-family: "Open Sans Condensed", sans-serif;
    background-color: #ed7577;
    color: gray;
}

h1 {
    margin: 40px 0 20px 0
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    width: 600px;
    height: 400px;
    position: absolute;
    top: 20%;
    left: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type=text] {
    width: 400px;
    height: 50px;
    padding-left: 10px;
    border: 1px solid lightgray;
}

::placeholder {
    color: rgb(184, 177, 177);
    font-family: "Open Sans Condensed", sans-serif;
}

.username {
    padding: 8px 20px;
    margin: 4px 0; 
}

.password {
    padding: 8px 20px;
    margin: 4px 0;
}

button {
    background-color: #7dd9d5;
    color: white;
    width: 120px;
    height: 40px;
    border: none;
    margin: 10px;
}

input[type=checkbox] {
    border-color: lightgray;
}

.check {
    /* border: 1px solid red; */
    margin: 30px;
    position: absolute;
    top: 75%;
    left: 10%;
}

label {
    color: rgb(184, 177, 177);
}